.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.lingvodoc-text-title {
    font-size: 3em;
}

.lingvodoc-translation {
    font-size: 1.2em;
    font-style: italic;
}

.lingvodoc-word {
    font-size: 1.1em;
    cursor:pointer;
}

.lingvodoc-metaword {
    font-size: 1.1em;
    text-decoration: underline;
    cursor:pointer;
}
