<div class="row">


    <div class="col-md-4">
        <button type="button" class="btn btn-default" ng-click="controller.approveAll()">Approve all</button>
        <button type="button" class="btn btn-default" ng-click="controller.approveEntries()" ng-disabled="controller.selectedEntriesCount() < 1">Approve</button>

    </div>


    <div class="col-md-4 col-md-offset-8" ng-if="filter">
        <div class="input-group">
            <span class="input-group-addon" id="filter-addon">Filter</span>
            <input type="text" class="form-control" id="filter" aria-describedby="filter-addon" ng-keypress="controller.filterKeypress($event)">
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-12"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td></td>
                <td ng-repeat="column in dictionaryTable.header">
                    <a ng-href="{{controller.getSortByPageLink(column.field)}}">{{ column.getName() }}</a>
                </td>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="row in dictionaryTable.rows">

                <td>
                    <input type="checkbox" ng-checked="selectedEntries.indexOf(row.entry.getId) >= 0" ng-click="controller.toggleSelectedEntries(row.entry.getId)">
                </td>

                <td ng-repeat="cell in row.cells" ng-init="rowIndex=$parent.$index; cellIndex=$index; column=dictionaryTable.header[$index]">


                    <!-- text values -->
                    <div ng-if="column.checkDataTypeName('Text')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values" ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">
                                {{ value.getContent() }}

                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(value)" ng-click="controller.approve(row.entry, value)">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(value)" ng-click="controller.disapprove(row.entry, value)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>

                            </li>
                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values" ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">
                                <!-- display value -->
                                {{ value.getContent() }}

                                <!-- display values from sub columns -->
                                <ul>
                                    <li ng-repeat="linkedValue in value.values"  ng-class="{last: $index==value.values.length-1}" ng-if="!linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">
                                            {{ linkedValue.getContent() }}

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">
                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </div>


                    <!-- Sound values -->
                    <div ng-if="column.checkDataTypeName('Sound')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values"  ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">

                                <a ng-href="{{ value.getContent() }}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-save-file"></span>
                                </a>

                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(value.getContent())">
                                    <span class="glyphicon glyphicon-play">Play</span>
                                </button>

                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(value)" ng-click="controller.approve(row.entry, value)">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(value)" ng-click="controller.disapprove(row.entry, value)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                            </li>

                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values"  ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">
                                <!-- display value -->
                                <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-save-file"></span>
                                </a>
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(value.getContent())">
                                    <span class="glyphicon glyphicon-play">Play</span>
                                </button>

                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(value)" ng-click="controller.approve(row.entry, value)">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(value)" ng-click="controller.disapprove(row.entry, value)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>

                                <!-- display values from sub columns -->
                                <ul class="tree">
                                    <li ng-repeat="linkedValue in value.values"  ng-class="{last: $index==value.values.length-1}" ng-if="!linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">
                                            {{ linkedValue.getContent() }}

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">
                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Markup')">
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.viewSoundMarkup(value, linkedValue)">
                                                <span class="glyphicon glyphicon-play">Markup</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>


                    <!-- Image values -->
                    <div ng-if="column.checkDataTypeName('Image')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values" ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">
                                <a class="btn btn-default btn-xs" ng-href="{{ value.getContent() }}" target="_blank">View</a>

                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(value)" ng-click="controller.approve(row.entry, value)">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(value)" ng-click="controller.disapprove(row.entry, value)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                            </li>

                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values" ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">
                                <!-- display value -->
                                <a class="btn btn-default btn-xs" ng-href="{{ value.getContent() }}" target="_blank">View</a>

                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(value)" ng-click="controller.approve(row.entry, value)">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(value)" ng-click="controller.disapprove(row.entry, value)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>

                                <!-- display values from sub columns -->
                                <ul class="tree">
                                    <li ng-repeat="linkedValue in value.values" ng-class="{last: $index==value.values.length-1}" ng-if="!linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">
                                            {{ linkedValue.getContent() }}
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">
                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div>


                    <!-- Markup values -->
                    <div ng-if="column.checkDataTypeName('Markup')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values" ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.viewMarkup(value)">
                                    <span class="glyphicon glyphicon-play">Markup</span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(value)" ng-click="controller.approve(row.entry, value)">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(value)" ng-click="controller.disapprove(row.entry, value)">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                            </li>
                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values" ng-class="{last: $index==cell.values.length-1}" ng-if="!value.entity.markedForDeletion">
                                <!-- display value -->
                                <a class="btn btn-default btn-xs" ng-href="{{ value.getContent() }}" target="_blank">View</a>


                                <!-- display values from sub columns -->
                                <ul class="tree">
                                    <li ng-repeat="linkedValue in value.values" ng-class="{last: $index==value.values.length-1}" ng-if="!linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">
                                            {{ linkedValue.getContent() }}

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">
                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.approveDisabled(linkedValue)" ng-click="controller.approve(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-disabled="controller.disapproveDisabled(linkedValue)" ng-click="controller.disapprove(row.entry, linkedValue)">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>

                                        </div>

                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- Link values, e.g. paradigms  -->
                    <div ng-if="column.checkDataTypeName('Link')">
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.publishLinkedPerspective(row.entry, column.field, cell.values)">
                            <span class="glyphicon glyphicon-list">View ({{controller.linksCount(cell.values)}})</span>
                        </button>
                    </div>

                    <!-- Grouping tag values  -->
                    <div ng-if="column.checkDataTypeName('Grouping Tag')">
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.viewGroupingTag(row.entry, column.field, cell.values)" ng-if="cell.values.length > 0">
                            <span class="glyphicon glyphicon-list">View</span>
                        </button>
                    </div>

                </td>

            </tr>

            <tr ng-if="dictionaryTable.rows.length == 0">
                <td class="text-center" colspan="{{dictionaryTable.header.length}}">No lexical entries</td>
            </tr>

            </tbody>

        </table>

    </div>
</div>


