<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <!-- current list of grants -->
            <ul>
                <li ng-repeat="grant in currentGrants">
                    {{ grant.translation }} <i>{{ grant.issuer }}</i>
                </li>
            </ul>
        </div>
    </div>



    <h4>
        Add grant <b style="color: red;">(WARNING: This action is irreversible!)</b>
    </h4>

    <div class="row">

        <div class="col-lg-10">

            <div>
                <select ng-model="selectedGrantId" convert-to-number>
                    <option value="-1">&nbsp;</option>
                    <option ng-repeat="grant in grants" value="{{ grant.id }}">{{ grant.translation }} ({{ grant.issuer }})</option>
                </select>
            </div>

        </div>

        <div class="col-lg-2">

            <button type="button" class="btn btn-default" ng-click="controller.addDictionary()" ng-disabled="selectedGrantId < 0;">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>

        </div>

    </div>



</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="controller.close()">Close</button>
</div>