<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">

    <!-- Grant translation -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><translatable str="Grant">Grant</translatable></h3>
        </div>
        <div class="panel-body">

            <div class="row" ng-repeat="translation in grantTranslations">

                <div class="col-lg-6">

                    <div class="input-group"><span class="input-group-addon">Name</span>
                        <input type="text" id="grant-name-{{$index}}" class="form-control"
                               ng-model="translation.str" placeholder="">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="input-group"><span class="input-group-addon">Language</span>
                        <select id="grant-name-locale-{{$index}}" class="form-control"
                                ng-model="translation.localeId" convert-to-number>
                            <option ng-repeat="locale in controller.getAvailableLocales(grantTranslations, translation)"
                                    ng-attr-value="{{ locale.id }}">{{ locale.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row top15">
                <div class="col-lg-1">
                    <button class="btn btn-info" ng-click="controller.addGrantTranslation()">
                        <span class="glyphicon glyphicon-plus-sign">Add translation</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Issuer translation -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><translatable str="Issuer">Issuer</translatable></h3>
        </div>
        <div class="panel-body">

            <div class="row" ng-repeat="translation in issuerTranslations">

                <div class="col-lg-6">

                    <div class="input-group"><span class="input-group-addon">Name</span>
                        <input type="text" id="issuer-name-{{$index}}" class="form-control"
                               ng-model="translation.str" placeholder="">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="input-group"><span class="input-group-addon">Language</span>
                        <select id="issuer-name-locale-{{$index}}" class="form-control"
                                ng-model="translation.localeId" convert-to-number>
                            <option ng-repeat="locale in controller.getAvailableLocales(issuerTranslations, translation)"
                                    ng-attr-value="{{ locale.id }}">{{ locale.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row top15">
                <div class="col-lg-1">
                    <button class="btn btn-info" ng-click="controller.addIssuerTranslation()">
                        <span class="glyphicon glyphicon-plus-sign">Add translation</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="input-group"><span class="input-group-addon">Issuer URL</span>
                <input type="text" id="issuer-url" class="form-control"
                       ng-model="issuerUrl" placeholder="">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="input-group"><span class="input-group-addon">Grant URL</span>
                <input type="text" id="grant-url" class="form-control"
                       ng-model="grantUrl" placeholder="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group"><span class="input-group-addon">Grant Number</span>
                <input type="text" id="grant-url" class="form-control"
                       ng-model="grantNumber" placeholder="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group"><span class="input-group-addon">Begin date</span>
                <input type="text" id="begin" class="form-control"
                       ng-model="begin" placeholder="dd.mm.yyyy" onkeyup="var v = this.value;
                                                                        if (v.match(/^\d{2}$/) !== null) {
                                                                            this.value = v + '.';
                                                                        } else if (v.match(/^\d{2}\.\d{2}$/) !== null) {
                                                                            this.value = v + '.';
                                                                        }">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group"><span class="input-group-addon">End date</span>
                <input type="text" id="end" class="form-control"
                       ng-model="end" placeholder="dd.mm.yyyy" onkeyup="var v = this.value;
                                                                        if (v.match(/^\d{2}$/) !== null) {
                                                                            this.value = v + '.';
                                                                        } else if (v.match(/^\d{2}\.\d{2}$/) !== null) {
                                                                            this.value = v + '.';
                                                                        }">
            </div>
        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><translatable str="Issuer">Owners</translatable></h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <div ng-if="users.length > 0">
                        <ul>
                            <li ng-repeat="user in users">
                                {{ user.login }} <button type="button" class="btn btn-default btn-xs" aria-label="Remove" ng-click="controller.removeUser(user)"><span aria-hidden="true">×</span></button>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="users.length == 0">
                        <span>No users. Enter user name to add...</span>
                    </div>

                    <div>
                        <input type="text" class="form-control" ng-model="searchString" ng-change="controller.searchUser()">


                        <table class="table table-bordered">
                            <tr ng-repeat="searchUser in searchUsers">
                                <td>{{ searchUser.login }}</td>
                                <td>{{ searchUser.name }}</td>
                                <td>
                                    <button type="button" class="btn btn-default" ng-click="controller.addUser(searchUser)">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>









</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="controller.save()">Save</button>
    <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Cancel</button>
</div>