<div class="modal-header">
    <h3 class="modal-title">Perspective phonology</h3>
</div>

<div class="modal-body">

    <form name="phonologyform">
        <div style="margin-bottom: 0.5em">Phonology data source:</div>

        <label style="font-weight: normal">
            <input type="radio" name="source_all" ng-model="source" value="all">
            All vowels.
        </label>

        <br>

        <label style="font-weight: normal">
            <input type="radio" name="source_selected" ng-model="source" value="selected">
            Only longest vowels and vowels with highest intensity.
        </label>

        <div style="margin-top: 0.5em; margin-bottom: 0.5em;">
            <label style="font-weight: normal">
                <input
                    type="checkbox"
                    ng-model="tier_choice"
                    ng-change="controller.tier_choice_change()">
                Choose markup tiers.
            </label>

            <div style="margin-left: 1em" ng-if="tier_choice && tier_loading">
                Loading tier names...
            </div>

            <div style="margin-left: 1em" ng-if="tier_choice && tier_loaded">
                <div ng-repeat="tier in tier_list">
                    <label style="font-weight: normal">
                        <input
                            type="checkbox"
                            ng-checked="selected_tiers.hasOwnProperty(tier)"
                            ng-click="controller.toggleTierSelection(tier)">
                        Tier "{{ tier }}" (present at {{ tier_percentage[tier] }} of markup records)
                    </label>
                </div>

                <div style="color: DarkRed; font-weight: bold; margin-top: 0.5em; margin-bottom: 1em;"
                    ng-if="tier_loaded && tier_choice && selected_tier_count <= 0">
                    Please choose at least one markup tier.
                </div>
            </div>
        </div>

        <!-- Translation field selection. -->

        <div style="margin-top: 0.5em; margin-bottom: 0.5em;"
            ng-if="text_field_list.length > 0">
            Translation field:

            <select ng-model="translation_field_id"
                ng-change="controller.select_field(translation_field_id)"
                class="form-control"
                style="width: auto">
                <option ng-repeat="field in text_field_list" value="{{field.getId}}">
                    {{ field.translation }}
                </option>
            </select>

            <br>

            <label style="font-weight: normal">
                <input type="radio" name="translation_all" ng-model="translation_choice" value="all">
                Show all translations of each word.
            </label>

            <br>

            <label style="font-weight: normal">
                <input type="radio" name="translation_first" ng-model="translation_choice" value="first">
                Show only the first translation of each word.
            </label>
        </div>

        <!-- Notification if we have no fields to select translation field from. -->

        <div style="margin-top: 0.5em; margin-bottom: 0.5em;"
            ng-if="text_field_list.length <= 0">
            No translation fields available. 
        </div>

        <div style="margin-top: 0.5em; margin-bottom: 0.5em;">
            <label style="font-weight: normal">
                <input
                    type="checkbox"
                    ng-model="group_by_description">
                Group phonology data by markup descriptions.
            </label>
        </div>
    </form>

    <div style="text-align: center">
        <button
            class="btn btn-primary"
            type="button"
            ng-click="controller.generate()"
            ng-disabled="tier_loading || tier_loaded && tier_choice && selected_tier_count <= 0">
            Generate phonology
        </button>
    <div>

    <div ng-if="error" class="animate-if alert alert-danger">
        <strong>Error</strong> {{ error.message }}
    </div>

</div>

<div class="modal-footer" style="margin-top: 1em">
    <button class="btn btn-primary" type="button" ng-click="controller.close()">Close</button>
</div>
