<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">

    <div align="right">
        <button class="btn btn-info" type="button" ng-click="controller.convertToDictionary()">Convert to dictionary...</button>
        <button class="btn btn-primary" type="button" ng-click="controller.save()">Close</button>
    </div>

    <br>

    <button type="button" class="btn btn-default btn-sm" ng-click="controller.playPause()">
        <span class="glyphicon glyphicon-play">Play/Pause full</span>
    </button>

    <button type="button" class="btn btn-default btn-sm" ng-click="controller.zoomIn()">
        <span class="glyphicon glyphicon glyphicon-zoom-in">Zoom in</span>
    </button>

    <button type="button" class="btn btn-default btn-sm" ng-click="controller.zoomOut()">
        <span class="glyphicon glyphicon glyphicon-zoom-out">Zoom out</span>
    </button>


    <div class="row">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <div>
                <div id="waveform"></div>
                <div id="wavespectrogram"></div>
                <div id="wavetimeline"></div>
                <div id="elan"></div>
            </div>
        </div>
    </div>

</div>


<div class="modal-footer">
</div>