<div class="container">
    <h3>1. Lingvodoc-desktop 0.9.9 (2012-2016)</h3>
    <p>Настольная программа для составления этимологических и медиасловарей с жестко зафиксированной структурой и без
        возможностей совместной работы. Поддерживает открытие пар звук-разметка в программе Praat из программы.</p>
    <p>Программа реализована на языке C++ с использованием фреймворка QT5 и представляет собой изолированное переносимое
        приложение.
        Система Lingvodoc (в которой Вы находитесь) поддерживает импорт файлов словарей из этой настольной программы в
        качестве источника данных.</p>
    <div>Разработка Института Системного Программирования РАН (<a href="http://ispras.ru/">http://ispras.ru/</a>)</div>
    <div><a href="https://github.com/al-indigo/Dialeqt">Исходные коды</a></div>
    <div><a
            href="https://github.com/al-indigo/Dialeqt/releases/download/v0.9.10/LingvoDoc-0.9.10.zip">Сборка для ОС Windows</a>
    </div>


    <h3>2. Lingvodoc-desktop 2.0 (2016)</h3>
    <p>Настольная программа для составления словарей произвольной структуры с произвольными данными:</p>

    <ul>
        <li>текстовые данные,</li>
        <li>звуковые файлы,</li>
        <li>разметки TextGrid <a href="https://en.wikipedia.org/wiki/Praat">[Praat]</a> и Eaf <a
                href="https://tla.mpi.nl/tools/tla-tools/elan/">[Elan]</a></li>
        <li>графические файлы</li>
        <li>направленные связи между лексическими входами</li>
        <li>ненаправленные группы связности между лексическими входами</li>
        <li>дополнительные документы, привязываемые к словарям</li>
        <li>геолокационные метки</li>
        <li>корпуса текстов</li>
    </ul>

    <div>Данная программа является клиентом к системе Lingvodoc (в которой Вы сейчас находитесь) и предоставляет большую
        часть возможностей серверной системы. Данная программа требует интернет-соединения при первом запуске программы,
        после чего работает полностью автономно до тех пор, пока пользователь не захочет синхронизировать свои данные с
        сервером.
        Программа также поддерживает разделение прав пользователей, позволяет скачивать доступные пользователю словари с
        сервера и работать с данными совместно, так же, как это происходит в серверной версии данной системы.
        Программа реализована на языках Python (с использованием фреймворков Pyramid, SQLAlchemy и других), Scala
        (фреймворк scala-js) и Javascript.
    </div>

    Дистрибутив программы представляет собой установочный файл для ОС Windows, начиная с Windows 7 и до Windows 10.
        Для установки необходимо установить системное обновление, доступное по <a href="https://www.microsoft.com/en-us/download/details.aspx?id=40784">этой ссылке</a> (необходима версия строго
        vcredist_x86.exe, даже если система x64_86).
        <div>Разработка Института Системного Программирования РАН (<a href="http://ispras.ru/">http://ispras.ru/</a>)</div>
        <div><a href="https://github.com/ispras/lingvodoc">Исходные коды</div>
        <div><a href="https://github.com/ispras/lingvodoc/releases/download/v2.0/lingvodoc_installer.exe">Сборка для ОС Windows</a></div>
    </div>
</div>