*.buffer
*.csv
*.doc
*.docx
*.eaf
*.gz
*.html
*.json
*.log*
*.output
*.pickle
*.png
*.pprint
*.pfsx
*.TextGrid
*.utf16
*.utf8
*.xlsx
*.zip
.cache/*
.eggs/*
docker/dbdump/*
docker/frontend/*
docs/*
lingvodoc/assets/*
lingvodoc/static/*
sphinx/*
webui/*
