.DS_Store
.cache
.idea/
.virtual_env/
virtual_env/
venv/
.tox/
*.sqlite
*/__pycache__/*
*.pyc
webui/node_modules/
webui/bower_components/
webui/.sass-cache/


# build stuff
dist/
build/
lingvodoc.egg-info/

# webui2
target/

Session.vim
pytest.output
sphinx/source/apidoc-*/
sphinx/pyramid_autodoc
alembic.ini
