amqp==1.4.9
anyjson==0.3.3
bcrypt==3.1.1
billiard==3.3.0.23
bs4==0.0.1
cchardet==1.1.1
celery==3.1.24
cffi==1.8.3
Chameleon==2.25
dataproperty==0.42.1
dogpile.cache==0.6.2
git+https://gitlab.at.ispras.ru/Ilya/dedoc_project@604556933f97fe32837d3a5ca5d6f3867009bcb3#egg=dedoc
git+https://github.com/myrix/poio-api.git
git+https://github.com/ankan2013/udmparser.git
GitPython==3.1.0
graf-python==0.3.1
graphene==2.0.1
iso8601==0.1.11
kombu==3.0.37
nltk==3.5
minio==6.0.0
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.3
multiprocess==0.70.6
numpy==1.11.2
numpydoc==0.9.1
numpydoc==0.9.1
passlib==1.6.5
PasteDeploy==1.5.2
pathvalidate==0.8.3
promise==2.1
psycopg2==2.7
pycparser==2.16
pydub==0.16.5
Pygments==2.1.3
pylev==1.3.0
pympi-ling==1.69
pyramid==1.7.3
pyramid-chameleon==0.3
pyramid-debugtoolbar==3.0.4
pyramid-mailer==0.15.1
pyramid-mako==1.0.2
pyramid-tm==1.0.1
python-dateutil==2.8.0
python-docx==0.8.7
pytz==2018.5
redis==2.10.5
regex==2019.6.8
repoze.lru==0.6
requests==2.11.1
scikit-learn==0.19.0
scipy==0.18.1
six==1.11.0
SQLAlchemy==1.1.2
tablib==0.13.0
tgt==1.4.2
transaction==1.6.1
translationstring==1.3
venusian==1.0
waitress==0.9.0
WebOb==1.6.2
wheel==0.33.4
xlrd==1.0.0
xlsxwriter==0.9.6
xlutils==2.0.0
xlwt==1.3.0
zope.deprecation==4.1.2
zope.interface==5.1.0
zope.sqlalchemy==0.7.7
