git+https://github.com/myrix/poio-api.git
alabaster==0.7.12
alembic==1.0.0
amqp==1.4.9
anyjson==0.3.3
Babel==2.7.0
backports.csv==1.0.7
bcrypt==3.1.1
beautifulsoup4==4.9.3
billiard==3.3.0.23
bs4==0.0.1
cchardet==2.1.7
celery==3.1.24
certifi==2020.6.20
cffi==1.14.5
Chameleon==3.5
chardet==3.0.4
click==7.1.2
configparser==4.0.2
cycler==0.10.0
DataProperty==0.42.1
defusedxml==0.6.0
dill==0.3.4
docutils==0.15.2
dogpile.cache==0.6.8
et-xmlfile==1.0.1
gitdb==4.0.4
GitPython==3.1.0
graf-python==0.3.1
graphene==2.0.1
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
imagesize==1.1.0
iso8601==0.1.11
jdcal==1.4.1
Jinja2==2.10.3
joblib==0.14.1
kombu==3.0.37
Logbook==1.1.0
lxml==4.4.1
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.3
minio==6.0.0
multiprocess
nltk==3.5
numpy==1.22.0
odfpy==1.4.0
openpyxl==2.6.4
packaging==20.3
passlib==1.6.5
PasteDeploy==1.5.2
pathvalidate==0.8.3
promise==2.1
psycopg2==2.8.6
pycparser==2.16
pydub==0.16.5
Pygments==2.1.3
pylev==1.3.0
pympi-ling==1.69
pyparsing==2.2.0
pyramid==1.7.3
pyramid-chameleon==0.3
pyramid-debugtoolbar==3.0.4
pyramid-mailer==0.15.1
pyramid-mako==1.0.2
pyramid-tm==1.0.1
python-dateutil==2.8.0
python-docx==0.8.10
python-editor==1.0.3
pytz==2018.5
PyYAML==5.2
redis==2.10.5
regex==2019.6.8
repoze.lru==0.6
repoze.sendmail==4.4.1
requests==2.11.1
Rx==1.6.0
scipy==1.6.1
scikit-learn==0.24.1
six==1.14.0
smmap==3.0.2
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.1.2
tablib==0.13.0
tgt==1.4.2
tqdm==4.51.0
transaction==1.6.1
translationstring==1.3
typepy==0.6.6
typing==3.6.2
uniparser-erzya<1.2
uniparser-komi-zyrian<1.2
uniparser-meadow-mari<1.2
uniparser-moksha<1.2
uniparser-udmurt<2.2
urllib3==1.25.10
venusian==1.0
waitress==0.9.0
WebOb==1.6.2
xlrd==1.0.0
XlsxWriter==0.9.6
xlutils==2.0.0
xlwt==1.3.0
zope.deprecation==4.1.2
zope.interface==4.3.2
zope.sqlalchemy==0.7.7
