<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">

    <h3>Oops, something went wrong.</h3>
    <input type="text" class="form-control" ng-model="message" disabled="true">

    <h3>Cause:</h3>
    <input type="text" class="form-control" ng-model="causeMessage" disabled="true">


    <h3>Stack trace:</h3>

    <div id="stackTrace" style="word-wrap: break-word;">
        {{ stackTrace }}
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="controller.ok()">Close</button>
    <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Report</button>
</div>