<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">
    <div id="waveform" style="margin: 0; padding: 0" >{{ controller.createWaveSurfer() }}</div>

    <svg id="soundSVG" ng-attr-width="{{controller.getWaveSurferWidth}}"
         ng-attr-height="{{controller.getWaveSurferHeight}}">""
        <!-- invisible rect to catch any click -->
        <rect id="backgroundRect" x="0" y="0"
              ng-attr-width="{{controller.getWaveSurferWidth}}" ng-attr-height="{{controller.getWaveSurferHeight}}"
              fill="#000000" fill-opacity="0.1"
              ></rect>
        <svg x="0" ng-attr-y="{{$index * 40}}" ng-repeat="tier in elan.tiersToJSArray">
            <rect id="{{tier.getID + 'Rectangle'}}" x="0" y="0" width="100%" height="40"
                  fill="{{$index % 2 == 0 ? 'grey' : 'white'}}"></rect>
            <rect id="fuck" x="15" height="50" width="50%" ></rect>
        </svg>
        <line class="sm-ruler"
              ng-attr-x1="{{ruler}}" ng-attr-y1="0" ng-attr-x2="{{ruler}}" ng-attr-y2="{{controller.getWaveSurferHeight}}">
        </line>
    </svg>

    div height is {{ controller.getWaveSurferHeight }}
    div width is {{ controller.getWaveSurferWidth }}
    ruler is {{ ruler }}
    <span ng-if="ruler == 15">
        This tier contains only reference annotations, you can't modify them directly.
    </span>
    <uib-tabset justified="true">
        <uib-tab ng-repeat="tier in elan.tiersToJSArray" heading="{{tier.getID}}">
            <span ng-if="tier.isTimeAlignable == false">
                This tier contains only reference annotations, you can't modify them directly.
            </span>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <td>Start</td>
                    <td>End</td>
                    <td>Annotation</td>
                    <td>Play</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="annot in tier.annotationsToJSArray">
                    <td>{{ annot.startToString }}</td>
                    <td>{{ annot.endToString }}</td>
                    <td>{{ annot.text }}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.play(annot.start, annot.end)">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>


    <button type="button" class="btn btn-default btn-sm" ng-click="controller.playPause()">
        <span class="glyphicon glyphicon-play">Play/Pause full</span>
    </button>

</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="controller.save()">Save</button>
    <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Cancel</button>
</div>