<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">

    <div align="right">
        <button class="btn btn-primary" type="button" ng-click="controller.save()">Save</button>
        <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Cancel</button>
    </div>

    <br>

    <button type="button" class="btn btn-default btn-sm" ng-click="controller.playPause()">
        <span class="glyphicon glyphicon-play">Play/Pause full</span>
    </button>

    <button type="button" class="btn btn-default btn-sm" ng-click="controller.zoomIn()">
        <span class="glyphicon glyphicon glyphicon-zoom-in">Zoom in</span>
    </button>

    <button type="button" class="btn btn-default btn-sm" ng-click="controller.zoomOut()">
        <span class="glyphicon glyphicon glyphicon-zoom-out">Zoom out</span>
    </button>

    <label>
        <input type="checkbox" ng-model="spectrogramEnabled" ng-change="controller.toggleSpectrogramEnable()"/>
        Draw a spectrogram. Warning: it may take a long time.
    </label>

    <label>
        <input type="checkbox" ng-model="timelineEnabled" ng-change="controller.toggleTimelineEnable()"/>
        Draw a timeline
    </label>

    <div>
        <!-- tier names -->
        <svg ng-attr-width="{{tiersNameWidth}}" ng-attr-height="{{tierWidth * elanJS.numberOfTiers}}"
             style="float:left" ng-style="{'margin-top': fullWSHeight}">
            <svg x="0" ng-attr-y="{{tierData.index * tierWidth}}" ng-repeat="(tierID, tierData) in elanJS.tiers">
                <line class="sm-tier-names-sep-line" x1="0" y1="0" ng-attr-x2="{{tiersNameWidth}}" y2="0">
                </line>
                <text text-anchor="middle" alignment-baseline="central" ng-attr-x="{{tiersNameWidth / 2}}" ng-attr-y="{{tierWidth / 2}}" >
                    {{ tierID }}
                </text>
                <line ng-if="$last" class="sm-tier-names-sep-line" x1="0" ng-attr-y1="{{tierWidth}}"
                      ng-attr-x2="{{tiersNameWidth}}" ng-attr-y2="{{tierWidth}}">
                </line>
            </svg>
        </svg>

        <div id="WSAndTiers" style="overflow-x: scroll" ng-style="{'margin-left': tiersNameWidth}">
            <div id="waveform" ng-style="{'width': fullWSWidth}">{{ controller.createWaveSurfer() }}</div>
            <div id="wavespectrogram"></div>
            <div id="wavetimeline"></div>

            <!-- section with tiers -->
            <svg id="soundSVG"
                 ng-attr-width="{{fullWSWidth}}" ng-attr-height="{{tierWidth * elanJS.numberOfTiers}}"
                 ng-click="controller.onSVGSeek($event)"
                 ng-mouseup="controller.onSVGMouseUp($event)" ng-mousedown="controller.onSVGMouseDown($event)"
                 ng-mousemove="controller.onSVGMouseMove($event)"

            >
                <!-- rect to select new annotation duration -->
                <rect id="selectionRect" x="0" y="0" width="0" ng-attr-height="{{tierWidth * elanJS.numberOfTiers}}"
                      class="sm-selection-rectangle">
                </rect>

                <!-- ruler shows current position -->
                <line class="sm-ruler"
                      ng-attr-x1="{{ruler}}" ng-attr-y1="0"
                      ng-attr-x2="{{ruler}}" ng-attr-y2="{{tierWidth * elanJS.numberOfTiers}}">
                </line>

                    <!-- tiers -->
                    <svg x="0" ng-attr-y="{{tierData.index * tierWidth}}" ng-repeat="(tierID, tierData) in elanJS.tiers"
                         ng-click="controller.onTierClickWellItIsNotWorkingForNow($event, tier)"
                         context-menu="tierMenuOptions"
                    >
                        <rect class="sm-tier" id="{{tierID + 'Rectangle'}}" x="0" y="0" width="100%"
                              ng-attr-height="{{tierWidth}}"
                              fill="{{tierData.index % 2 == 0 ? 'grey' : 'white'}}"></rect>
                        <!-- annotations -->
                        <svg ng-attr-x="{{annotData.startOffset}}" y="0" ng-repeat="(annotID, annotData) in tierData.annotations"
                             ng-attr-width="{{annotData.durationOffset}}" ng-attr-height="{{tierWidth}}"
                             context-menu="annotMenuOptions"
                        >
                            <rect x="0" y="0" ng-attr-width="{{annotData.durationOffset}}"
                                  ng-attr-height="{{tierWidth}}" fill="green" fill-opacity="0.2">
                            </rect>
                            <!-- left vertical line -->
                            <line ng-class="tierData.timeAlignable ? 'sm-ta-annot-line' : 'sm-ref-annot-line'"
                                  x1="1" y1="0" x2="1" ng-attr-y2="{{tierWidth}}">
                            </line>
                            <!-- middle horizontal line -->
                            <line ng-class="tierData.timeAlignable ? 'sm-ta-annot-line' : 'sm-ref-annot-line'"
                                  x1="0" ng-attr-y1="{{tierWidth / 2}}"
                                  ng-attr-x2="{{annotData.durationOffset}}" ng-attr-y2="{{tierWidth / 2}}">
                            </line>
                            <!-- right vertical line -->
                            <line ng-class="tierData.timeAlignable ? 'sm-ta-annot-line' : 'sm-ref-annot-line'"
                                  ng-attr-x1="{{annotData.durationOffset}}" y1="0"
                                  ng-attr-x2="{{annotData.durationOffset}}" ng-attr-y2="{{tierWidth}}">
                            </line>
                            <text
                                  x="5"
                                  ng-attr-y="{{tierWidth / 2 - tierWidth * 0.2}}" >
                                 {{ annotData.text }}
                            </text>
                        </svg>
                    </svg>
            </svg>

        </div>
    </div>

    <uib-tabset justified="true">
        <!--<uib-tab ng-repeat="tierData in elanJS.tiers | orderObjectBy: 'index': false" heading="{{tierData.ID}} ({{tierData.stereotype}})">-->
        <uib-tab ng-repeat="tierData in tiersJSForTabs" heading="{{tierData.ID}} ({{tierData.stereotype}})" >
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <td>Start</td>
                    <td>End</td>
                    <td>Annotation</td>
                    <td>Play</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(annotID, annotData) in tierData.annotations">
                    <td>{{ annotData.startToString }}</td>
                    <td>{{ annotData.endToString }}</td>
                    <td>{{tierData.index}} {{ annotData.text }}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.playAnnotation(annotData.ID)">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>
</div>


<div class="modal-footer">
</div>