<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">
    <div id="waveform" ng-style="{'margin-left': tiersNameWidth}" >{{ controller.createWaveSurfer() }}</div>

    <!-- tier names -->
    <svg ng-attr-width="{{tiersNameWidth}}" style="float:left">
        <svg x="0" ng-attr-y="{{$index * tierWidth}}" ng-repeat="tier in elan.tiersToJSArray">
            <!--<rect class="sm-tier" id="{{tier.getID + 'Rectangle'}}" x="0" y="0" width="100%"-->
                  <!--ng-attr-height="{{tierWidth}}"-->
                  <!--fill="{{$index % 2 == 0 ? 'grey' : 'white'}}"></rect>-->
            <line class="sm-tier-names-sep-line" x1="0" y1="0" ng-attr-x2="{{tiersNameWidth}}" y2="0">
            </line>
            <text text-anchor="middle" alignment-baseline="central" ng-attr-x="{{tiersNameWidth / 2}}" ng-attr-y="{{tierWidth / 2}}" >{{ tier.getID }}</text>
            <line ng-if="$last" class="sm-tier-names-sep-line" x1="0" ng-attr-y1="{{tierWidth}}"
                  ng-attr-x2="{{tiersNameWidth}}" ng-attr-y2="{{tierWidth}}">
            </line>
        </svg>
    </svg>

    <!-- section with tiers -->
    <svg id="soundSVG" style="float:right"
         ng-attr-width="{{controller.getWaveSurferWidth}}" ng-attr-height="{{controller.getWaveSurferHeight}}">
        <!-- invisible rect to catch any click  TODO: remove it, move event handling to svg-->
        <g id="backgroundRectG" ng-click="controller.onSVGSeek($event)"
           ng-mouseup="controller.onSVGMouseUp($event)" ng-mousedown="controller.onSVGMouseDown($event)"
           ng-mousemove="controller.onSVGMouseMove($event)">
            <rect id="backgroundRect" x="0" y="0"
                  ng-attr-width="{{controller.getWaveSurferWidth}}"
                  ng-attr-height="{{controller.getWaveSurferHeight}}" fill="brown"
                  fill-opacity="0.3">
            </rect>

            <!-- tiers -->
            <svg x="0" ng-attr-y="{{$index * tierWidth}}" ng-repeat="tier in elan.tiersToJSArray">
                <rect class="sm-tier" id="{{tier.getID + 'Rectangle'}}" x="0" y="0" width="100%"
                      ng-attr-height="{{tierWidth}}"
                      fill="{{$index % 2 == 0 ? 'grey' : 'white'}}"></rect>
            </svg>

            <!-- rect to select new annotation duration -->
            <rect id="selectionRect" x="0" y="0" width="0" ng-attr-height="{{controller.getWaveSurferHeight}}"
                  class="sm-selection-rectangle">
            </rect>

            <!-- ruler shows current position -->
            <line class="sm-ruler"
                  ng-attr-x1="{{ruler}}" ng-attr-y1="0" ng-attr-x2="{{ruler}}"
                  ng-attr-y2="{{controller.getWaveSurferHeight}}">
            </line>
        </g>
    </svg>

    div height is {{ controller.getWaveSurferHeight }}
    div width is {{ controller.getWaveSurferWidth }}
    ruler is {{ ruler }}

    <uib-tabset justified="true">
        <uib-tab ng-repeat="tier in elan.tiersToJSArray" heading="{{tier.getID}} ({{tier.stereotype}})">
            <span ng-if="tier.isTimeAlignable == false">
                This tier contains only reference annotations, you can't modify them directly.
            </span>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <td>Start</td>
                    <td>End</td>
                    <td>Annotation</td>
                    <td>Play</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="annot in tier.annotationsToJSArray">
                    <td>{{ annot.startToString }}</td>
                    <td>{{ annot.endToString }}</td>
                    <td>{{ annot.text }}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.play(annot.start, annot.end)">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>


    <button type="button" class="btn btn-default btn-sm" ng-click="controller.playPause()">
        <span class="glyphicon glyphicon-play">Play/Pause full</span>
    </button>

</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="controller.save()">Save</button>
    <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Cancel</button>
</div>