<div id="shader" class="animate-show" ng-show="!pageLoaded">
    <div id="loader-wrapper-fullscreen">
        <div id="loader"></div>
    </div>
</div>

<div class="container-fluid animate-show" style="padding-top: 20px" ng-show="pageLoaded">

    <div class="row">
        <div class="col-md-12">
            <h4>
                {{ path }}
            </h4>
        </div>
    </div>


    <a href="">


        <br>

        <div class="row" style="margin: 30px 0">

            <button type="button" class="btn btn-default btn-sm" ng-click="controller.playPause()">
                <span class="glyphicon glyphicon-play">Play/Pause full</span>
            </button>

            <button type="button" class="btn btn-default btn-sm" ng-click="controller.zoomIn()">
                <span class="glyphicon glyphicon glyphicon-zoom-in">Zoom in</span>
            </button>

            <button type="button" class="btn btn-default btn-sm" ng-click="controller.zoomOut()">
                <span class="glyphicon glyphicon glyphicon-zoom-out">Zoom out</span>
            </button>

            <wavesurfer on-ready="controller.onReady($waveSurfer)"></wavesurfer>

        </div>

        <div class="row" style="margin: 30px 0">

            <div class="col-md-12">

                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" ng-href='{{controller.getActionLink("edit")}}' disabled>Edit</a>
                    <a class="btn btn-default" ng-href='{{controller.getActionLink("view")}}'>View published</a>
                </div>

            </div>

        </div>

        <div ng-include="'/static/templates/include/editDictionary.html'"></div>

        <div class="row">
            <div class="col-lg-12">

                <div class="text-center">

                    <nav>
                        <ul class="pagination pagination-sm">
                            <li ng-repeat="p in controller.range(1, pageCount, 1)"
                                ng-class="{active: pageNumber == p}">
                                <a ng-href="{{controller.getFullPageLink(p)}}">{{ p }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>

</div>