<div class="container" ng-cloak="">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>Grant issuer</td>
            <td>Grant</td>
            <td>Issuer URL</td>
            <td>Grant URL</td>
            <td>Grant Number</td>
            <td>Begin</td>
            <td>End</td>
            <td>Owners</td>
            <td></td>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="grant in grants">

            <td>
                {{ grant.issuer }}
            </td>

            <td>
                {{ grant.translation }}
            </td>

            <td>
                <a ng-href="{{ grant.issuerUrl }}">{{ grant.issuerUrl }}</a>
            </td>

            <td>
                <a ng-href="{{ grant.grantUrl }}">{{ grant.grantUrl }}</a>
            </td>

            <td>
                {{ grant.grantNumber }}
            </td>

            <td>
                {{ grant.begin }}
            </td>

            <td>
                {{ grant.end }}
            </td>

            <td>
                {{ controller.owners(grant) }}
            </td>

            <td>
                <button type="button" class="btn btn-primary" ng-click="controller.join(grant)">Join</button>
            </td>


        </tr>

        </tbody>

    </table>

    <button type="button" class="btn btn-default" ng-click="controller.createGrant()">
        Create grant
    </button>

</div>


