<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">

    <!-- Language names -->
    <div class="row" ng-repeat="name in names">

        <div class="col-lg-6">

            <div class="input-group"><span class="input-group-addon">Name</span>
                <input type="text" id="language-name-{{$index}}" class="form-control"
                       ng-model="name.str" placeholder="">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="input-group"><span class="input-group-addon">Language</span>
                <select id="language-name-locale-{{$index}}" class="form-control"
                        ng-model="name.localeId" convert-to-number>
                    <option ng-repeat="locale in controller.getAvailableLocales(names, name)"
                            ng-attr-value="{{ locale.id }}">{{ locale.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <!-- End of language names -->


    <br/>

    <button class="btn btn-info" ng-click="controller.addNameTranslation()">
        <span class="glyphicon glyphicon-plus-sign">Add translation</span>
    </button>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="controller.ok()">OK</button>
    <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Cancel</button>
</div>