<div class="modal-header">
    <h3 class="modal-title">{{ dictionary.translation }}</h3>
</div>

<div class="modal-body">
    <div ng-if="!error">
        <h3></h3>

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Role</td>
                <td ng-repeat="user in controller.getUsers()">{{ user.intlName }}</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="(role, roleUsers) in permissions">
                <td>{{ role }}</td>
                <td ng-repeat="(user, hasRole) in roleUsers"><input type="checkbox" ng-model="roleUsers[user]"></td>
            </tr>
            </tbody>

        </table>

    </div>

    <div ng-if="error" class="animate-if alert alert-danger">
        <strong>Error</strong> {{ error.message }}
    </div>

    <div>
        <input type="text" class="form-control" ng-model="searchString" ng-change="controller.searchUser()">


        <table class="table table-bordered">
            <tr ng-repeat="searchUser in searchUsers">
                <td>{{ searchUser.login }}</td>
                <td>{{ searchUser.name }}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="controller.addUser(searchUser)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </td>
            </tr>
        </table>



    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="controller.ok()">Save</button>
    <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Cancel</button>
</div>