<div class="row">
    <div class="col-md-8">

        <div class="btn-toolbar" role="toolbar" aria-label="">
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-default" ng-click="controller.addNewLexicalEntry()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-default" style="margin-left: 40px !important;" ng-click="controller.removeEntries()" ng-disabled="controller.selectedEntriesCount() < 1">Remove</button>
            </div>
        </div>
    </div>

    <div class="col-md-4" ng-if="filter">
        <div class="input-group">
            <span class="input-group-addon" id="filter-addon">Filter</span>
            <input type="text" class="form-control" id="filter" aria-describedby="filter-addon" ng-keypress="controller.filterKeypress($event)">
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-12"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td><!-- merge entries checkbox --></td>
                <td ng-repeat="column in dictionaryTable.header">
                    <a ng-href="{{controller.getSortByPageLink(column.getName())}}">{{ column.getName() }}</a>
                </td>
                <td> <!-- action --> </td>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="row in dictionaryTable.rows">

                <td>
                    <input type="checkbox" ng-checked="selectedEntries.indexOf(row.entry.getId) >= 0" ng-click="controller.toggleSelectedEntries(row.entry.getId)">
                </td>

                <td ng-repeat="cell in row.cells" ng-init="rowIndex=$parent.$index; cellIndex=$index; column=dictionaryTable.header[$index]">


                    <!-- text values -->
                    <div ng-if="column.checkDataTypeName('Text')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values" ng-class="{removed: value.entity.markedForDeletion}" ng-if="value.entity.accepted && !value.entity.markedForDeletion">
                                <span ng-hide="controller.isEditActive(value.entity)">{{ value.getContent() }}</span>

                                <span ng-show="controller.isEditActive(value.entity)">
                                    <input type="text" value="{{ value.getContent() }}" placeholder="" ng-blur="controller.updateTextEntity(row.entry, value.entity, column.field, $event)">
                                </span>

                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.editEntity(cell.internalId, value.entity)" ng-hide="controller.isEditActive(value.entity)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                                 ng-if="controller.isRemovable(row.entry, value.entity)" ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>
                            </li>



                            <li class="last">
                                <!-- controls -->
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                                    <input type="text" value="" placeholder="" ng-blur="controller.saveTextValue(cell.internalId, row.entry, column.field, $event)">
                                </div>

                            </li>
                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values" ng-if="value.entity.accepted && !value.entity.markedForDeletion">
                                <!-- display value -->
                                <span ng-hide="controller.isEditActive(value.entity)">{{ value.getContent() }}</span>

                                <span ng-show="controller.isEditActive(value.entity)">
                                    <input type="text" value="{{ value.getContent() }}" placeholder="" ng-blur="controller.updateTextEntity(row.entry, value.entity, column.field, $event)">
                                </span>

                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.editEntity(cell.internalId, value.entity)" ng-hide="controller.isEditActive(value.entity)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                                 ng-if="controller.isRemovable(row.entry, value.entity)" ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>

                                <!-- display values from sub columns -->
                                <ul>
                                    <li ng-repeat="linkedValue in value.values" ng-class="{removed: linkedValue.entity.markedForDeletion}" ng-if="linkedValue.entity.accepted && !linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">

                                            <span ng-hide="controller.isEditActive(value.entity)">{{ linkedValue.getContent() }}</span>

                                            <span ng-show="controller.isEditActive(linkedValue.entity)">
                                                <input type="text" value="{{ linkedValue.getContent() }}" placeholder="" ng-blur="controller.updateTextEntity(row.entry, linkedValue.entity, column.field, $event)">
                                            </span>

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.editEntity(cell.internalId, linkedValue.entity)" ng-hide="controller.isEditActive(value.entity)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove" ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a> <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                                                                                                                        ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">

                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                    </li>

                                    <li class="last">

                                        <!-- controls to add linked text value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <input type="text" value="" placeholder="" ng-blur="controller.saveTextValue(value.internalId, row.entry, column.linkedColumns[0].field, $event, value)">
                                            </div>
                                        </div>

                                        <!-- controls to add linked sound/image/markup value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image') || column.linkedColumns[0].checkDataTypeName('Sound') || column.linkedColumns[0].checkDataTypeName('Markup')">

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(value.internalId, row.entry, column.linkedColumns[0].field, $fileName, $fileType, $fileContent, value)"></span>
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </li>

                            <li class="last">
                                <!-- controls -->
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                                    <input type="text" value="" placeholder="" ng-blur="controller.saveTextValue(cell.internalId, row.entry, column.field, $event)">
                                </div>

                            </li>
                        </ul>


                    </div>


                    <!-- Sound values -->
                    <div ng-if="column.checkDataTypeName('Sound')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values" ng-class="{removed: value.entity.markedForDeletion}" ng-if="value.entity.accepted && !value.entity.markedForDeletion">

                                <a ng-href="{{ value.getContent() }}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-save-file"></span>
                                </a>

                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(value.getContent())">
                                    <span class="glyphicon glyphicon-play">Play</span>
                                </button>

                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                        ng-if="controller.isRemovable(row.entry, value.entity)" ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>

                            </li>

                            <li class="last">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                            <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(cell.internalId, row.entry, column.field, $fileName, $fileType, $fileContent)">
                        </span>
                                </div>
                            </li>

                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values" ng-class="{removed: value.entity.markedForDeletion}" ng-if="value.entity.accepted && !value.entity.markedForDeletion">

                                <!-- display value -->
                                <a ng-href="{{ value.getContent() }}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-save-file"></span>
                                </a>

                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(value.getContent())">
                                    <span class="glyphicon glyphicon-play">Play</span>
                                </button>

                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                        ng-if="controller.isRemovable(row.entry, value.entity)" ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>

                                <!-- display values from sub columns -->
                                <ul class="tree">
                                    <li ng-repeat="linkedValue in value.values" ng-class="{removed: value.entity.markedForDeletion}" ng-if="linkedValue.entity.accepted && !linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">


                                            <span ng-hide="controller.isEditActive(linkedValue.entity)">{{ linkedValue.getContent() }}</span>

                                            <span ng-show="controller.isEditActive(linkedValue.entity)">
                                                <input type="text" value="{{ linkedValue.getContent() }}" placeholder="" ng-blur="controller.updateTextEntity(row.entry, linkedValue.linkedValue, column.field, $event)">
                                            </span>

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.editEntity(cell.internalId, linkedValue.entity)" ng-hide="controller.isEditActive(linkedValue.entity)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>


                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove" ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>




                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">
                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Markup')">
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.viewSoundMarkup(value, linkedValue)">
                                                <span class="glyphicon glyphicon-play">Markup</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                    </li>


                                    <li class="last">
                                        <!-- controls to add linked text value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <input type="text" value="" placeholder="" ng-blur="controller.saveTextValue(value.internalId, row.entry, column.linkedColumns[0].field, $event, value)">
                                            </div>
                                        </div>

                                        <!-- controls to add linked sound/image/markup value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image') || column.linkedColumns[0].checkDataTypeName('Sound') || column.linkedColumns[0].checkDataTypeName('Markup')">

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(value.internalId, row.entry, column.linkedColumns[0].field, $fileName, $fileType, $fileContent, value)"></span>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>


                            <li class="last">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                            <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(cell.internalId, row.entry, column.field, $fileName, $fileType, $fileContent)">
                        </span>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <!-- Image values -->
                    <div ng-if="column.checkDataTypeName('Image')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values" ng-if="value.entity.accepted && !value.entity.markedForDeletion">
                                <a class="btn btn-default btn-xs" ng-href="{{ value.getContent() }}" target="_blank">View</a>

                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                        ng-if="controller.isRemovable(row.entry, value.entity)" ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>
                            </li>

                            <li class="last">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                            <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(cell.internalId, row.entry, column.field, $fileName, $fileType, $fileContent)">
                        </span>
                                </div>
                            </li>

                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values" ng-if="value.entity.accepted && !value.entity.markedForDeletion">
                                <!-- display value -->
                                <a class="btn btn-default btn-xs" ng-href="{{ value.getContent() }}" target="_blank">View</a>


                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                        ng-if="controller.isRemovable(row.entry, value.entity)" ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>

                                <!-- display values from sub columns -->
                                <ul class="tree">
                                    <li ng-repeat="linkedValue in value.values" ng-if="linkedValue.entity.accepted && !linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">

                                            <span ng-hide="controller.isEditActive(linkedValue.entity)">{{ linkedValue.getContent() }}</span>

                                            <span ng-show="controller.isEditActive(linkedValue.entity)">
                                                <input type="text" value="{{ linkedValue.getContent() }}" placeholder="" ng-blur="controller.updateTextEntity(row.entry, linkedValue.linkedValue, column.field, $event)">
                                            </span>

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.editEntity(cell.internalId, linkedValue.entity)" ng-hide="controller.isEditActive(linkedValue.entity)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                                                   ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>

                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">
                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                    </li>


                                    <li class="last">
                                        <!-- controls to add linked text value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <input type="text" value="" placeholder="" ng-blur="controller.saveTextValue(value.internalId, row.entry, column.linkedColumns[0].field, $event, value)">
                                            </div>
                                        </div>

                                        <!-- controls to add linked sound/image/markup value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image') || column.linkedColumns[0].checkDataTypeName('Sound') || column.linkedColumns[0].checkDataTypeName('Markup')">


                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(value.internalId, row.entry, column.linkedColumns[0].field, $fileName, $fileType, $fileContent, value)"></span>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>


                            <li class="last">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                            <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(cell.internalId, row.entry, column.field, $fileName, $fileType, $fileContent)">
                        </span>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <!-- Markup values -->
                    <div ng-if="column.checkDataTypeName('Markup')">

                        <!-- simple column -->
                        <ul class="tree" ng-if="column.getType()=='Simple'">
                            <li ng-repeat="value in cell.values" ng-if="value.entity.accepted  && !value.entity.markedForDeletion">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.viewMarkup(value)">
                                    <span class="glyphicon glyphicon-play">Markup</span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                        ng-if="controller.isRemovable(row.entry, value.entity)" ng-click="controller.removeEntity(row.entry, value.entity)"><span aria-hidden="true">×</span></button>
                            </li>

                            <li class="last">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                            <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(cell.internalId, row.entry, column.field, $fileName, $fileType, $fileContent)">
                        </span>
                                </div>
                            </li>

                        </ul>

                        <!-- column has sub columns -->
                        <ul class="tree" ng-if="column.getType()=='Master'">

                            <li ng-repeat="value in cell.values" ng-if="value.entity.accepted && !value.entity.markedForDeletion">
                                <!-- display value -->
                                <a class="btn btn-default btn-xs" ng-href="{{ value.getContent() }}" target="_blank">View</a>


                                <!-- display values from sub columns -->
                                <ul class="tree">
                                    <li ng-repeat="linkedValue in value.values" ng-if="linkedValue.entity.accepted && !linkedValue.entity.markedForDeletion">
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">



                                            <span ng-hide="controller.isEditActive(linkedValue.entity)">{{ linkedValue.getContent() }}</span>

                                            <span ng-show="controller.isEditActive(linkedValue.entity)">
                                                <input type="text" value="{{ linkedValue.getContent() }}" placeholder="" ng-blur="controller.updateTextEntity(row.entry, linkedValue.linkedValue, column.field, $event)">
                                            </span>

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.editEntity(cell.internalId, linkedValue.entity)" ng-hide="controller.isEditActive(linkedValue.entity)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                                                   ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image')">
                                            <a class="btn btn-default btn-xs" ng-href="{{ linkedValue.getContent() }}" target="_blank">View</a>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Sound')">
                                            <a ng-href="{{ linkedValue.getContent() }}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-save-file"></span>
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.play(linkedValue.getContent())">
                                                <span class="glyphicon glyphicon-play">Play</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Markup')">
                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.viewSoundMarkup(value, linkedValue)">
                                                <span class="glyphicon glyphicon-play">Markup</span>
                                            </button>

                                            <button type="button" class="btn btn-default btn-xs" aria-label="Remove"
                                                    ng-if="controller.isRemovable(row.entry, linkedValue.entity)" ng-click="controller.removeEntity(row.entry, linkedValue.entity)"><span aria-hidden="true">×</span></button>
                                        </div>
                                    </li>


                                    <li class="last">
                                        <!-- controls to add linked text value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Text')">

                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <input type="text" value="" placeholder="" ng-blur="controller.saveTextValue(value.internalId, row.entry, column.linkedColumns[0].field, $event, value)">
                                            </div>
                                        </div>

                                        <!-- controls to add linked sound/image/markup value -->
                                        <div ng-if="column.linkedColumns[0].checkDataTypeName('Image') || column.linkedColumns[0].checkDataTypeName('Sound') || column.linkedColumns[0].checkDataTypeName('Markup')">


                                            <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(value.internalId)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>

                                            <div class="animate-if" ng-if="controller.isInputEnabled(value.internalId)">
                                                <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(value.internalId, row.entry, column.linkedColumns[0].field, $fileName, $fileType, $fileContent, value)"></span>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>


                            <li class="last">
                                <button type="button" class="btn btn-default btn-xs" ng-click="controller.enableInput(cell.internalId)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="animate-if" ng-if="controller.isInputEnabled(cell.internalId)">
                            <span class="btn btn-default btn-file">Upload file <input type="file" on-read-file="controller.saveFileValue(cell.internalId, row.entry, column.field, $fileName, $fileType, $fileContent)">
                        </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Link values, e.g. paradigms  -->
                    <div ng-if="column.checkDataTypeName('Link')">
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.editLinkedPerspective(row.entry, column.field, cell.values)">
                            <span class="glyphicon glyphicon-list">Edit ({{cell.values.length}})</span>
                        </button>
                    </div>


                    <!-- Grouping tag values  -->
                    <div ng-if="column.checkDataTypeName('Grouping Tag')">
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.editGroupingTag(row.entry, column.field, cell.values)">
                            <span class="glyphicon glyphicon-list">Edit</span>
                        </button>
                    </div>

                </td>

                <td>
                    <!-- action -->
                    <div ng-if="controller.createdByUser(row.entry)" class="text-center">
                        <button type="button" class="close" aria-label="Remove"
                                ng-click="controller.removeEntry(row.entry)"><span
                                aria-hidden="true">×</span></button>
                    </div>

                </td>

            </tr>

            <tr ng-if="dictionaryTable.rows.length == 0">
                <td class="text-center" colspan="{{dictionaryTable.header.length + 2}}">No lexical entries</td>
            </tr>

            </tbody>

        </table>

    </div>
</div>


