<div class="container">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!-- First step -->
            <div ng-show="step==1">
                <!-- List of all languages -->
                <label for="language">Language</label>
                <select id="language" class="form-control" ng-model="languageId"
                        ng-options="language.getId as language.getTranslation() for language in languages track by language.getId">
                </select>

                <span class="glyphicon glyphicon-plus-sign" ng-click="controller.newLanguage()"></span>
                <hr>

                <ol>
                    <li><label><input type="radio" name="mode" ng-model="creationMode" value="create"> Create new
                        dictionary</label></li>
                    <li><label><input type="radio" name="mode" ng-model="creationMode" value="import"> Import dictionary</label>
                    </li>
                </ol>

                <div ng-show="creationMode == 'create'">

                    <div ng-repeat="name in names">
                        <label for="localized-name-{{$index}}"
                               ng-bind="controller.getLocaleName(name.localeId)"></label>
                        <input type="text" id="localized-name-{{$index}}" class="form-control" ng-model="name.str"
                               placeholder="">
                    </div>


                </div>

                <div ng-show="creationMode == 'import'">
                    <label for="selectFile">Select uploaded file</label> (<a href="#/upload">Upload dictionary</a>)

                    <select id="selectFile" class="form-control">
                        <option></option>
                    </select>

                </div>

                <button class="btn btn-block btn-info" ng-click="controller.createDictionary2()"
                        ng-disabled="controller.step1NextDisabled()">
                    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>

            </div>









            <div ng-show="step==2">

                <!-- Layers -->
                <h1>Layers <button type="button" aria-label="Add layer" ng-click="controller.addLayer()"><span aria-hidden="true">+</span></button></h1>

                <div class="row" ng-repeat="layer in layers">

                    <!-- layer -->
                    <div class="col-lg-12">

                        <!-- layer name in display locale -->
                        <h2>#{{$index+1}} {{ controller.getLayerDisplayName(layer) }}</h2>

                        <!-- Layer name translations -->
                        <div class="row" ng-repeat="name in layer.names">

                            <div class="col-lg-6">

                                <div class="input-group"><span class="input-group-addon">Name</span>
                                    <input type="text" id="layer-name-{{$index}}" class="form-control"
                                           ng-model="name.str" placeholder="">
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group"><span class="input-group-addon">Language</span>
                                    <select id="layer-name-locale-{{$index}}" class="form-control"
                                            ng-model="name.localeId" convert-to-number>
                                        <option ng-repeat="locale in controller.getAvailableLocales(layer.names, name)" ng-attr-value="{{ locale.id }}">{{ locale.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End of layer name translations -->


                        <br/>

                        <button class="btn btn-info" ng-click="controller.addNameTranslation(layer)">
                            <span class="glyphicon glyphicon-plus-sign">Add translation</span>
                        </button>

                        <br />
                        <br />

                    </div>

                    <hr/>

                    <!-- Types block -->
                    <div class="col-lg-12">

                        <h3>Types <button type="button" aria-label="Add layer" ng-click="controller.addFieldType(layer)"><span aria-hidden="true">+</span></button></h3>
                        <!-- list of types -->
                        <div class="row" ng-repeat="fieldType in layer.fieldTypes">
                            <!-- Type -->
                            <div class="col-lg-12">

                                <!-- type header -->
                                <div>
                                    <button type="button" class="close" aria-label="Remove" ng-click="controller.removeFieldType(layer, fieldType)"><span aria-hidden="true">×</span></button>
                                    <h4>#{{$index+1}}
                                        <button type="button" class="control-button" aria-label="Up" ng-click="controller.moveFieldTypeUp(layer, fieldType)"><span aria-hidden="true">⇑</span></button>
                                        <button type="button" class="control-button" aria-label="Down" ng-click="controller.moveFieldTypeDown(layer, fieldType)"><span aria-hidden="true">⇓</span></button>

                                    </h4>

                                </div>



                                <button type="button" aria-label="O" ng-click="controller.createNewFieldType()"><span aria-hidden="true">O</span></button>



                                <!-- type names -->
                                <div class="row" ng-repeat="name in fieldType.names">

                                        <div class="col-lg-6">

                                            <div class="input-group"><span class="input-group-addon">Name</span>
                                                <input type="text" id="type-name-{{$index}}" class="form-control"
                                                       ng-model="name.str" placeholder="">
                                            </div>

                                        </div>

                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">Language</span>
                                                <select id="type-name-locale-{{$index}}" class="form-control"
                                                        ng-model="name.localeId" convert-to-number>
                                                    <option ng-repeat="locale in locales" ng-attr-value="{{ locale.id }}">{{locale.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                                <!-- type names end -->

                                <br />

                                <button class="btn btn-info" ng-click="controller.addNameTranslation(fieldType)">
                                    <span class="glyphicon glyphicon-plus-sign">Add translation</span>
                                </button>

                                <br />
                                <br/>

                                <!-- Type description -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">Type</span>
                                            <select id="field-type-{{$index}}" class="form-control">
                                                <option>Word</option>
                                                <option>Image</option>
                                                <option>Sound</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <label for="translatable-checkbox-{{$parent.$index + '-' +$index}}">Translatable</label>
                                            <input id="translatable-checkbox-{{$parent.$index + '-' +$index}}" type="checkbox">
                                        </div>
                                    </div>
                                </div>
                                <!-- Type description end -->


                                <hr />


                            </div>
                            <!-- type end -->
                        </div>
                        <!-- list of types -->


                        <br />
                        <br />

                    </div>
                    <!-- types end -->




                    <hr/>
                </div>
                <!-- Layers end -->

                <div ng-show="layers.length == 0">
                    <p class="lead">There are no layers yet. Click '+' button to create a new one.</p>
                </div>

            </div>


        </div>
    </div>
</div>