<div class="container-fluid" style="padding-top: 20px">

    <div class="row">
        <h4>
            <span ng-repeat-start="e in path.slice().reverse()">
                <span>{{ e.translation_string }}</span>
            </span>
            <span ng-repeat-end="" ng-if="$index < (path.length-1)">&gt;&gt;</span>
        </h4>
    </div>

    <br>

    <div class="row" style="margin: 30px 0">
        <div class="col-sm-10">
            <wavesurfer url="" wave-color="#337ab7" progress-color="#23527c" height="128"></wavesurfer>
            <wavesurfer-spectrogram></wavesurfer-spectrogram>
        </div>

        <div class="col-sm-2">
            <button ng-class="{disabled: !isMediaFileAvailable()}" class="btn btn-success btn-block"
                    ng-click="playPause()">
                <span id="play" ng-show="paused">
                    <i class="glyphicon glyphicon-play"></i>
                    Play
                </span>

                <span id="pause" ng-show="!paused">
                    <i class="glyphicon glyphicon-pause"></i>
                    Pause
                </span>
            </button>
        </div>
    </div>


    <div class="row">

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td ng-repeat="column in dictionaryTable.header">{{ column.getName() }}</td>
                <td> <!-- action --> </td>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="row in dictionaryTable.rows">

                <td ng-repeat="cell in row.cells" ng-init="lexicalEntry=lexicalEntries[$parent.$index]; column=dictionaryTable.header[$index]">

                    <div ng-if="cell.getType() == 'content' && column.dataType == 'text'">

                        <ul class="entries_list">
                            <li ng-repeat="value in cell.values" ng-if="!value.markedForDeletion">
                                {{ value.content }}
                            </li>
                        </ul>

                    </div>


                    <div ng-if="cell.getType() == 'content' && column.dataType == 'image'">
                        <ul class="entries_list">
                            <li ng-repeat="value in cell.values" ng-if="!value.markedForDeletion">
                                <a ng-href="value.content" target="_blank"><span class="glyphicon glyphicon-list">View image</span></a>
                            </li>
                        </ul>

                    </div>

                    <div ng-if="cell.getType() == 'content' && column.dataType == 'sound'">
                        <ul class="entries_list">
                            <li ng-repeat="value in cell.values" ng-if="!value.markedForDeletion">

                                <button type="button" class="btn btn-default btn-sm" ng-if="value.values.length > 0" ng-click="controller.play(value.content, value.values[0].content)">
                                    <span class="glyphicon glyphicon-play">Play sound</span>
                                </button>

                                <button type="button" class="btn btn-default btn-sm" ng-if="value.values.length > 0" ng-click="controller.viewSoundMarkup(value.content, value.values[0].content)">
                                    <span class="glyphicon glyphicon-list">View markup</span>
                                </button>

                            </li>
                        </ul>

                    </div>

                    <div ng-if="cell.getType() == 'group'">
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.viewGroup(column, cell)" ng-if="cell.contents.length > 0">
                            <span class="glyphicon glyphicon-list">View</span>
                        </button>
                    </div>

                    <div ng-if="field.data_type == 'grouping_tag'">

                        <button type="button" class="btn btn-default btn-sm"
                                ng-click="viewGroupingTag(lexicalEntry, field, fieldValues)"
                                ng-if="fieldValues.length > 0">
                            <span class="glyphicon glyphicon-list">View</span>
                        </button>

                    </div>


                </td>

                <td> <!-- action --> </td>

            </tr>

            </tbody>

        </table>


        <div class="text-center">

            <nav>
                <ul class="pagination pagination-sm">
                    <li ng-repeat="pageNumber in range(1, pageCount)" ng-class="{active: pageNumber == pageIndex}">
                        <a href="#" ng-click="getPage(pageNumber)">{{ pageNumber }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>