// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";
// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";
// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";
// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

.body-signin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;

  .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-control:focus {
    z-index: 2;
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.body-signup {
  padding-top: 30px;
}

.form-signup {
  .form-control {
    margin-bottom: 10px;
  }
}

.signup-panel {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(6);
  @include make-md-column-offset(3);
  @extend .well;
  @extend .well-sm;
}

.body-dashboard {
  padding-top: 70px;
}

.lingvodoc-navbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
}

// Create dictionary styles
.form-container {
  margin-bottom: 20px;
  border-radius: 5px;
  .page-header {
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.status-buttons {
  a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: none;
  }
  span {
    background: #337ab7;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
  }

  a.active {
    span {
      background: #0851a4;
    }
  }
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 200px;
  height: 80px;
  background: rgba(255, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 40px;
  display: inline-block;
  margin: 0 10px;
  cursor: move;

  .drag-over {
    border: solid 1px red;
  }

  .dragging {
    opacity: 0.5;
  }
}

ul.draggable-objects {
    li {
      display: inline;
      width: 220px;
      height: 100px;
    }
}


[ng-drop] {
  background: rgba(0, 255, 0, 0.5);
  text-align: center;
  width: 800px;
  height: 300px;
  padding-top: 90px;
  display: block;
  margin: 20px auto;
  position: relative;

  .drag-enter {
    border: solid 5px red;
  }

  span {
    .title {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 20px;
      margin-left: -100px;
      margin-top: -10px;
    }
  }

  div {
    position: relative;
    z-index: 2;
  }
}







/* AUTOCOMPLETE */

.autocomplete {
  width: 100%;
  position: relative;

  input{
    font-size: 1.2em;
    width: 100%;
    padding:0.4em;
  }

  ul{
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 1;
  }

  li{
    text-align: left;
    list-style:none;
    width: 100%;
    padding:0.4em;
    background-color: #fff;
  }

  li.active{
    width: 100%;
    background-color: #4bf;
  }

  .highlight {
    background-color: #E2E2E2;
  }

  li.active .highlight {
    background: #666;
    color: #fff;
  }
}

ul.entries_list {
  list-style-type: none;
}














