<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">

    <div id="loader-wrapper" ng-show="progressBar">
        <div id="loader"></div>
    </div>

    <div class="container-fluid animate-show" ng-show="validated && !progressBar && !complete">

        <div class="row">

            <div class="col-md-12">
                <ol>
                    <li><label><input type="radio" name="mode" ng-model="mode" value="create"> <translatable str="Create new dictionary">Create new dictionary</translatable></label></li>
                    <li><label><input type="radio" name="mode" ng-model="mode" value="update"> <translatable str="Update existing dictionary">Update existing dictionary</translatable></label>
                    </li>
                </ol>
            </div>

        </div>



        <div class="row" ng-show="mode == 'create'">

            <div class="col-md-12">
                <!-- List of all languages -->
                <label for="language"><translatable str="Language">Language</translatable></label>
                <select class="form-control" id="language"  ng-model="languageId">
                    <option ng-repeat="language in languages" value="{{ language.getId }}" ng-bind-html="controller.languagePadding(language) + language.translation">
                    </option>
                </select>

                <button type="button" class="btn btn-default" ng-click="controller.newLanguage()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>

            </div>

        </div>


        <div class="row top15" ng-show="mode == 'create'">
            <div class="col-lg-12">
                <!-- dictionary name in display locale -->
                <h2>{{ controller.getDisplayName() }}</h2>

                <!-- name translations -->
                <div class="row" ng-repeat="name in names">

                    <div class="col-lg-6">

                        <div class="input-group"><span class="input-group-addon">Name</span>
                            <input type="text" id="new-dictionary-name-{{$index}}" class="form-control"
                                   ng-model="name.str" placeholder="">
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="input-group"><span class="input-group-addon">Language</span>
                            <select id="new-dictionary-name-locale-{{$index}}" class="form-control"
                                    ng-model="name.localeId" convert-to-number>
                                <option ng-repeat="locale in controller.getAvailableLocales(names, name)"
                                        ng-attr-value="{{ locale.id }}">{{ locale.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End of name translations -->


                <br/>

                <button class="btn btn-info" ng-click="controller.addNameTranslation()">
                    <span class="glyphicon glyphicon-plus-sign">Add translation</span>
                </button>

            </div>
            <hr/>
        </div>

        <div class="row" ng-show="mode == 'update'">

            <div class="col-md-12">

                <div>
                    <label for="updateDictionaryName"><translatable str="Select dictionary">Select dictionary</translatable></label>
                    <input type="text" id="updateDictionaryName" class="form-control" placeholder="" ng-model="updateDictionaryName" ng-change="controller.onUpdateDictionaryName()">

                    <div ng-repeat="updateDictionary in updateDictionaries" ng-click="controller.toggleUpdateDictionary(updateDictionary)">
                        <span class="glyphicon glyphicon-ok" ng-show="controller.isUpdateDictionarySelected(updateDictionary)"></span>
                        {{ updateDictionary.translation }} ({{ updateDictionary.createdAt.dateString() }})
                    </div>

                </div>

            </div>

        </div>


    </div>

    <div class="top15 text-center animate-show" ng-show="errorMessage.length > 0">
        {{ errorMessage }}
    </div>


    <div class="text-center animate-show " ng-show="!validated && !progressBar && !complete">
        Conversion is not available.
    </div>

    <div class="container-fluid animate-show" ng-show="validated && !progressBar && complete">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center"><translatable str="Conversion is in progress...">Conversion is in progress...</translatable></h1>
                <div class="text-center">
                    Your dictionary is being converted. Wait 5-15 minutes and you will see new dictionary in your dashboard.
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer" ng-show="!complete && !progressBar">
        <button class="btn btn-primary" type="button" ng-click="controller.convert()" ng-disabled="controller.isConvertDisabled()">Convert</button>
        <button class="btn btn-danger" type="button" ng-click="controller.cancel()">Cancel</button>
    </div>