<h4>{{ language.translation }}


    <button type="button" class="btn btn-default btn-sm" aria-label="Add language" ng-click="controller.createLanguage(language)"><span
        class="glyphicon glyphicon-plus-sign"></span></button>
    <button type="button" class="btn btn-default btn-sm" aria-label="Add language" ng-click="controller.editLanguage(language)"><span
            class="glyphicon glyphicon-pencil"></span></button>
</h4>

<ul ng-if="language.languages">
    <li ng-repeat="language in language.languages" ng-include="'/static/templates/languagesTree.html'"></li>
</ul>