<h4>{{ language.translation }}</h4>

<ul>
    <li ng-repeat="dictionary in language.dictionaries">
        <input type="checkbox" ng-checked="controller.isDictionarySelected(dictionary)" ng-click="controller.toggleDictionarySelection(dictionary)" ng-show="!controller.isDownloaded(dictionary)"> {{ dictionary.translation }}
        <ul>
            <li ng-repeat="perspective in dictionary.perspectives" ng-init="permissions=controller.getPerspectivePermissions(perspective)">

                {{perspective.translation}}

                <a ng-href="#/dictionary/{{dictionary.clientId}}/{{dictionary.objectId}}/perspective/{{perspective.clientId}}/{{perspective.objectId}}/edit" ng-if="permissions.write && controller.isDownloaded(dictionary)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <span class="glyphicon glyphicon-pencil" ng-if="permissions.write && !controller.isDownloaded(dictionary)"></span>

                <a ng-href="#/dictionary/{{dictionary.clientId}}/{{dictionary.objectId}}/perspective/{{perspective.clientId}}/{{perspective.objectId}}/view" ng-if="permissions.read && controller.isDownloaded(dictionary)">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>

                <span class="glyphicon glyphicon-eye-open" ng-if="permissions.read && !controller.isDownloaded(dictionary)"></span>


                <span class="badge" ng-show="controller.isDownloaded(dictionary)">Downloaded</span>


            </li>
        </ul>

    </li>
</ul>

<ul ng-if="language.languages.length > 0">
    <li ng-repeat="language in language.languages" ng-include="'/static/templates/include/availableLanguage.html'"></li>
</ul>
